/* mixins */
/* makes a multicolumn responsive box */
* {
  box-sizing: border-box; }

body {
  font-family: 'lato';
  color: #444; }

.clearfix {
  height: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  clear: both; }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

.clear {
  clear: both; }

ul li {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }

.bingo_headline {
  width: 16.66667%;
  margin-right: 0%;
  box-sizing: border-box;
  font-family: 'Asset', sans-serif;
  margin: 0px;
  width: 100%;
  background-color: rgba(255, 99, 71, 0.7);
  font-weight: 100;
  padding: 0; }
  .bingo_headline li {
    width: 20%;
    margin-right: 0%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 20px 0px;
    font-size: 3em;
    text-align: center;
    line-height: 100%;
    color: white; }

.bingo_outer {
  width: 100%;
  margin-right: 0%;
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
  overflow: scroll;
  background-image: url("../siteart/lightpaperfibers_@2X.png");
  background-size: 300px 500px;
  border-radius: 4px;
  background-color: rgba(255, 99, 71, 0.7);
  padding: 20px;
  box-shadow: 2px 2px 3px #d0d0d0;
  border: 1px solid white; }

.bingo_container {
  width: auto;
  height: auto;
  width: 100%;
  margin-right: 0%;
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
  overflow: scroll;
  background-image: url("../siteart/lightpaperfibers_@2X.png");
  background-size: 300px 500px;
  border-radius: 4px;
  background-color: rgba(255, 99, 71, 0.7); }

.bingo_grid {
  width: 100%;
  margin-right: 0%;
  box-sizing: border-box;
  padding: 0px;
  margin: 0 auto;
  max-width: 800px;
  min-width: 550px;
  border-top: 1px solid beigh;
  border-left: 1px solid beigh;
  border-bottom: 1px solid tan;
  border-right: 1px solid tan;
  padding: 15px;
  background-color: rgba(255, 99, 71, 0.8); }
  .bingo_grid li {
    width: 19.2%;
    margin-right: 1%;
    box-sizing: border-box;
    float: left;
    padding-bottom: 20%;
    position: relative;
    margin-bottom: 5px;
    display: relative;
    overflow: hidden;
    display: table-cell;
    background-image: url("../siteart/lightpaperfibers_@2X.png");
    background-size: 300px 500px; }
    .bingo_grid li:nth-child(5n) {
      margin-right: 0px; }

.bingo_image {
  width: 100%;
  height: auto;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px; }

.bingo_tag {
  width: 100%;
  height: auto;
  position: absolute;
  margin: auto;
  top: 15%;
  left: 0;
  right: 0;
  padding: 0px 5px;
  text-align: center;
  font-size: .9em; }
  .bingo_tag span {
    display: block;
    font-weight: 700;
    margin-top: 5px;
    color: #666; }
    .bingo_tag span:before {
      content: '#'; }
