@import "mixins";


*
	{
	box-sizing:border-box;
	}

body
	{
	font-family:'lato';
	color:#444;
	}

.clearfix
	{
	height:0px;
	margin:0px;
	padding:0px;
	width:100%;
	clear:both;

	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
		}
	}	
	
	
.clear
	{
	clear:both;
	
	}
	
	
ul
	{
	
	
	li
		{
		list-style-type:none;
		margin:0px;
		padding:0px;
		}
	}

.bingo_headline
{
@include spanner_too (6, 1000, 0, 1);
font-family:'Asset', sans-serif;

margin:0px;
width:100%;
background-color:rgba(#FF6347, .7);
font-weight:100;
padding:0;


			li
			{
			@include spanner_too (5, 1000, 0, 1);
			float:left;
			text-align:center;
			padding:20px 0px;
			font-size:3em;
			text-align:center;
			line-height:100%;
			color:white;
		
			
			}

}

.bingo_outer
	{
	@include spanner_too (5,800, 0, 5);
	max-width:800px;
	margin:0 auto;
	overflow:scroll;
	background-image:url('../siteart/lightpaperfibers_@2X.png');
	background-size:300px 500px;
	border-radius:4px;
	background-color:rgba(#FF6347, .7);
	padding:20px;
	box-shadow:(2px 2px 3px #d0d0d0);
	border:1px solid white;
	}

.bingo_container
	{
	width:auto;
	height:auto;
	@include spanner_too (5,800, 0, 5);
	max-width:800px;
	margin:0 auto;
	overflow:scroll;
	background-image:url('../siteart/lightpaperfibers_@2X.png');
	background-size:300px 500px;
	border-radius:4px;
	background-color:rgba(#FF6347, .7);
	}
	
.bingo_grid
	{
	@include spanner_too (5,800, 0, 5);
	padding:0px;
	margin:0 auto;
	max-width:800px;
	min-width:550px;
	border-top:1px solid beigh;
	border-left:1px solid beigh;
	border-bottom:1px solid tan;
	border-right:1px solid tan;
	padding:15px;
	background-color:rgba(#FF6347, .8);
	

	
		li
		{
		@include spanner_too (5, 800, 8, 1);
		float:left;
		padding-bottom:20%;
		position:relative;
		margin-bottom:5px;
		display:relative;
		overflow:hidden;
		display:table-cell;
		background-image:url('../siteart/lightpaperfibers_@2X.png');
	background-size:300px 500px;

		
			&:nth-child(5n)
			{
			margin-right:0px;
			}		
		
		}

	}
	
	
.bingo_image
	{
	width:100%;
	height:auto;
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding:0px;
	}
	
.bingo_tag
	{
	width:100%;
	height:auto;
	position:absolute;
	margin:auto;
	top:15%;
	left:0;
	right:0;
	padding:0px 5px;
	text-align:center;
	font-size:.9em;
	}	
	
	
	.hashtag
		{
		display:block;
		font-weight:700;
		color:#666;
		position:absolute;
		bottom:8px;
		text-align:center;
		width:100%;
		margin:0px;
		
			&:before
			{
			content:'#';
			}
		
		
		}	
	