@import "mixins";
@import "shortcuts";


@font-face {
    font-family: 'icon';
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontawesome-webfont.woff') format('woff'),
         url('../fonts/fontawesome-webfont.ttf') format('truetype'),
         url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}


*
	{
	box-sizing:border-box;
	}

body
	{
	font-family:'lato';
	color:#444;
	}
	
	
a
	{
	text-decoration:none;
	color:inherit;
	transition:color .3s;
	
		&:hover
		{
		color:#d0d0d0;
		}
	
	}
	
i
	{
	font-family:'icon';
	font-style:normal;
	}	
	
h2
	{
	font-size:em(18);
	font-weight:700;
	}
	
h3
	{
	font-size:em(15);
	font-weight:700;
	color:#666;
	margin:0 0 5px 0;
	}
	

.clearfix
	{
	height:0px;
	margin:0px;
	padding:0px;
	width:100%;
	clear:both;

	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
		}
	}	
	
	
.clear
	{
	clear:both;
	
	}
	
	
ul
	{
	
	
	li
		{
		list-style-type:none;
		margin:0px;
		padding:0px;
		}
	}
	
	
#holder
	{
	border:1px solid black;
	position:absolute;
	width:60%;
	margin:0 auto;
	z-index:1000;
	padding:0;
	display:none;
	top:15%;
	left:0;
	right:0;
	background-image:url('../siteart/lightpaperfibers_@2X.png');
	background-size:300px 500px;
	box-shadow:3px 3px 3px #999;
	border:1px solid white;
	
	.close_box
	{
	position:absolute;
	right:10px;
	top:-10px;
	z-index:100000;
	color:#d0d0d0;
	padding:0px 4px 1px;
	background-color:white;
	border-radius:2px;
	border:1px solid #d0d0d0;
	}
	
	
	
	li
		{
		border:1px solid red;
		width:100%;
		position:relative;
		padding:0 0 100% 0;
		background-image:none;

	.bingo_image
	{
	width:100%;
	height:auto;
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding:0px;
	}
	
.bingo_tag
	{
	width:100%;
	height:auto;
	position:absolute;
	margin:auto;
	top:15%;
	left:0;
	right:0;
	padding:0px 5px;
	text-align:center;
	font-size:.9em;
	display:block;
	}	
	
	
	.hashtag
		{
		display:block;
		font-weight:700;
		color:#666;
		position:absolute;
		bottom:8px;
		text-align:center;
		width:100%;
		margin:0px;
		font-size:em(14);

				@media screen and (min-width:em(700)) 
				{
				font-size:em(16);
				}
		
			&:before
			{
			content:'#';
			}
		
		
		}	

		
		}
	
		.active
		{
		border:0px;
		margin:0px;
		}
	
	}

.bingo_headline
{
@include spanner_too (6, 1000, 0, 1);
font-family:'Asset', sans-serif;
margin:0px;
width:100%;
background-color:rgba(#FF6347, .5);
font-weight:100;
padding:0;
font-size:em(14);

			@media screen and (min-width:em(600)) 
				{
				font-size:em(16);
				}

			@media screen and (min-width:em(700)) 
				{
				font-size:em(18);
				}



			li
			{
			@include spanner_too (5, 1000, 0, 1);
			float:left;
			text-align:center;
			padding:20px 0px;
			font-size:2.5em;
			text-align:center;
			line-height:100%;
			color:white;	
			text-shadow:1px 1px 0 #d7533c, 2px 2px 0 #d7533c, 3px 3px 0 #d7533c, 4px 4px 0 #d7533c;
			}

}

.bingo_outer
	{
	@include spanner_too (5,800, 0, 5);
	max-width:800px;
	margin:0 auto;
	overflow:scroll;
	background-image:url('../siteart/lightpaperfibers_@2X.png');
	background-size:300px 500px;
	border-radius:4px;
	background-color:rgba(#FF6347, .5);
	padding:20px;
	box-shadow:(2px 2px 3px #d0d0d0);
	border:1px solid white;
	border:1px solid red;
	}

.bingo_container
	{
	width:auto;
	height:auto;
	@include spanner_too (5,800, 0, 5);
	max-width:800px;
	margin:0 auto;
	background-image:url('../siteart/lightpaperfibers_@2X.png');
	background-size:300px 500px;
	border-radius:4px;
	background-color:rgba(#FF6347, .5);
	}
	
.bingo_grid
	{
	padding:0px;
	margin:0 auto;
	max-width:800px;
	border-top:1px solid biege;
	border-left:1px solid beigh;
	border-bottom:1px solid tan;
	border-right:1px solid tan;
	padding:15px;
	background-color:rgba(#FF6347, .8);
	

	
		li
		{
		@include spanner_too (5, 800, 8, 1);
		float:left;
		padding-bottom:20%;
		position:relative;
		margin-bottom:5px;
		position:relative;
		overflow:hidden;
		display:table-cell;
		background-image:url('../siteart/mag.svg'), url('../siteart/lightpaperfibers_@2X.png');
		background-size:40%, 300px 500px;
		background-repeat:no-repeat, repeat;
		background-position: center center;
		font-size:em(14);
		border-radius:3px;
		border:2px solid #fe8066;

			@media screen and (min-width:em(550)) 
				{
				background-image:none, url('../siteart/lightpaperfibers_@2X.png');
				}

				@media screen and (min-width:em(700)) 
				{
				font-size:em(16);
				}
		
		
			&:nth-child(5n)
			{
			margin-right:0px;	
			}
			
			&:nth-child(13)
			{
			background-image:url('../siteart/star.svg'), url('../siteart/lightpaperfibers_@2X.png');
			background-size:70%, 300px 500px;
			background-repeat:no-repeat, repeat;
			background-position: center center;
			}		
		
		}
		
		
	.active	
	{
	border:2px solid gold;
	
	
		.hashtag
		{
		color:white;
		text-shadow:0 0 3px black;
		}
	
	}

	}
	
	
.bingo_image
	{
	width:100%;
	height:auto;
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding:0px;
	}
	
.bingo_tag
	{
	width:100%;
	height:auto;
	position:absolute;
	margin:auto;
	top:15%;
	left:0;
	right:0;
	padding:0px 5px;
	text-align:center;
	font-size:.9em;
	display:none;
	
				@media screen and (min-width:em(550)) 
				{
				display:block;
				}
	
	}	
	
	
	.hashtag
		{
		display:block;
		font-weight:700;
		color:#666;
		position:absolute;
		bottom:8px;
		text-align:center;
		width:100%;
		margin:0px;
		font-size:em(14);

				@media screen and (min-width:em(700)) 
				{
				font-size:em(16);
				}
		
			&:before
			{
			content:'#';
			}
		
		
		}	
		
		
.main
	{
	@include spanner_too (1, 1000, 0, 1);
	max-width:1000px;
	border:1px solid red;
	margin:0 auto;
	}

/*
--------------
leaderboard page 
--------------
*/
	
.right_side
	{
	@include spanner_too (8, 1000, 0, 8);
	border:1px solid blue;

			@media screen and (min-width:em(500)) 
			{
			@include spanner_too (8, 1000, 0, 4);
			float:left;
			}

			@media screen and (min-width:em(750)) 
				{
				@include spanner_too (8, 1000, 0, 5);
				float:left;
				height:1000px;
				}

	}
	
.left_side
	{
	@include spanner_too (8, 1000, 0, 8);
	border:1px solid green;
	height:1000px;
	
			@media screen and (min-width:em(500)) 
			{
			@include spanner_too (8, 1000, 0, 4);
			float:left;
			}
	
	
			@media screen and (min-width:em(750)) 
			{
			@include spanner_too (8, 1000, 0, 3);
			float:left;
			}
	
	}	
	
.leaderboard
	{
	margin:0px;
	padding:0px 10px 0 0;
	
		li
		{
		border-bottom:1px solid #d0d0d0;
		padding:0 0 10px 0;
		margin:0 0 10px 0;
		
		}
	
	}
	
.rank
	{
	width:32px;
	float:left;
	font-size:em(14);
	font-weight:700;
	color:#999;	
	}

.user_avatar
	{
	width:45px;
	height:45px;
	float:left;
	margin:4px 0 0 0;
		
		img
		{
		width:100%;
		}	
	}
	
.user_info	
	{
	width:auto;
	display:inline-table-cell;
	margin-left:85px;
	}
	
.bingo_status
	{
	font-size:em(13);
	margin:0 0 5px 0;
	}
	
.last_hashtag
	{
	@extend .bingo_status;
	color:#999;
		
		&:before
		{
		content:'#';
		}
	
	}	
	
.latest_items
	{
	@include spanner_too (4, 622, 0, 4);
	margin:0px;
	padding:0px;
	
	li
	{
	@include spanner_too (2, 622, 10, 1);
	border:1px solid red;
	float:left;
	
		&:nth-child(2n)
		{
		margin-right:0px;
		}
	
				@media screen and (min-width:em(500)) 
				{
				@include spanner_too (1, 622, 0, 1);
				}
	
				@media screen and (min-width:em(600)) 
				{
				@include spanner_too (2, 622, 10, 1);
				}
	
				@media screen and (min-width:em(850)) 
				{
				@include spanner_too (3, 622, 10, 1);
				
						&:nth-child(2n)
						{
						margin-right:1.60772%;
						}
				
						&:nth-child(3n)
						{
						margin-right:0px;
						}
				
				
				}
	
	.user_avatar
	{
	width:30px;
	height:30px;
	border:1px solid red;
				
				@media screen and (min-width:em(750)) 
				{
				width:45px;
				height:45px;
				}
	
	}
	
	.user_info	
	{
	width:auto;
	display:inline-table-cell;
	margin-left:38px;
	border:1px solid red;
	
				@media screen and (min-width:em(750)) 
				{
				margin-left:52px;
				}
	
	}

	
	}
	
	.tweeted_image
	{
	width:100%;
	padding-bottom:100%;
	height:100%;
	text-align:center;
	position:relative;
	overflow:hidden;
	
	
		img
		{
		height:100%;
		position:absolute;
		margin:auto;
		top:0;
		bottom:0;
		left:-50%;
		right:-50%;
		}
	
	}
	
	
	}