/* mixins */


/* makes a multicolumn responsive box */

@mixin column_width ($number_of_columns, $container_width, $gutter)
	{
	$gutter_calc: percentage($gutter / $container_width);
	$box_calc: percentage(($container_width / $number_of_columns) / $container_width);
	

	
	$gutter_subtract: $gutter_calc / $number_of_columns;
	
	width: ($box_calc + $gutter_subtract) - $gutter_calc;
	margin:$gutter_calc $gutter_calc 0 0;
	
	box-sizing:border-box;
	float:left;
	}
	
	
@mixin spanner ($number_of_columns, $container_width, $gutter, $span)
	{
	$gutter_calc: percentage($gutter / $container_width);
	$box_calc: percentage(($container_width / $number_of_columns) / $container_width);
	

	
	$gutter_subtract: $gutter_calc / $number_of_columns;
	
	width: (($box_calc + $gutter_subtract) - $gutter_calc) * $span;
	margin:0 $gutter_calc 0 0;	
	box-sizing:border-box;
	float:left;
	}	
	
	
@mixin spanner_too ($number_of_columns, $container_width, $gutter, $span)
	{
	$gutter_calc: percentage($gutter / $container_width);
	$box_calc: percentage(($container_width / $number_of_columns) / $container_width);
	

	
	$gutter_subtract: $gutter_calc / $number_of_columns;
	
	width: (($box_calc + $gutter_subtract) - $gutter_calc) * $span;
	margin-right: $gutter_calc;	
	box-sizing:border-box;
	}	
		
	
	
@mixin marginizer_left ($number_of_columns, $container_width, $gutter, $span)
	{
	$gutter_calc: percentage($gutter / $container_width);
	$box_calc: percentage(($container_width / $number_of_columns) / $container_width);	
	$gutter_subtract: $gutter_calc / $number_of_columns;
	
	margin-left: (($box_calc + $gutter_subtract) - $gutter_calc) * $span;
	}	

@mixin marginizer_right ($number_of_columns, $container_width, $gutter, $span)
	{
	$gutter_calc: percentage($gutter / $container_width);
	$box_calc: percentage(($container_width / $number_of_columns) / $container_width);	
	$gutter_subtract: $gutter_calc / $number_of_columns;
	
	margin-right: (($box_calc + $gutter_subtract) - $gutter_calc) * $span;
	}			
	

@mixin centered_content
	{
	margin-left:auto;
	margin-right:auto; 	
	}
	

@mixin circle ($size)
	{
	width:$size;
	height:$size;
	border-radius:$size / 2;
    }
    
    
@mixin center ($top_margin,$bottom_margin)
	{  
	margin:$top_margin auto $bottom_margin;
	float:none;
	}
	
@mixin eminator ($size)
	{  
	font-size:$size
	}	
	
@mixin trans ($color)
	{
	background-color:rgba( $color, 0.2 )
	
	}

	
	